[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
attrs = "*"
beautifulsoup4 = "*"
bs4 = "*"
click = "*"
flask = "*"
flask-restplus = "*"
itsdangerous = "*"
jinja2 = "*"
jsonschema = "*"
markupsafe = "*"
matplotlib = "*"
numpy = "*"
nltk = "*"
pyrsistent = "*"
pytorch = "*"
pytz = "*"
six = "*"
werkzeug = "*"
pandas = "*"
python-dotenv = "*"
scikit-learn = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
